@import url('https://fonts.cdnfonts.com/css/pinky-blues');
@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap');
$font-1:"Pragati Narrow",
sans-serif;
$font-2:'';
$white:#fff;
$black:#000;
$primary: #FFDF59;
$secondary: #282844;
$text:#000000;
$heading: $white;
$border:#4B4B4B;
$bg:#FFF8D4;
:root {
    scroll-behavior: auto !important;
}